<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033844544046-mid4a703e9ofl7h83mrgenst1kvb6hu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033844544046-mid4a703e9ofl7h83mrgenst1kvb6hu1</string>
	<key>API_KEY</key>
	<string>AIzaSyCdfX3hInBG3IAhty2eyrn6elAfT3jTLCY</string>
	<key>GCM_SENDER_ID</key>
	<string>1033844544046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.trilltest</string>
	<key>PROJECT_ID</key>
	<string>drip-f9216</string>
	<key>STORAGE_BUCKET</key>
	<string>drip-f9216.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033844544046:ios:818b26e7a4afc75c1285bf</string>
	<key>DATABASE_URL</key>
	<string>https://drip-f9216.firebaseio.com</string>
</dict>
</plist>